extends layout

block content
  h1(class='text-center text-info') Here goes the home page
  div(style='margin-top:30px;', class='text-center')
      div(class='btn-group')
        a(href='/login',class='btn btn-warning') Log in
        a(href='/signup',class='btn btn-primary') Sign up
        a(href='/auth/google', class='btn btn-danger') Google